# Python
__pycache__/
*.py[codz]
*.egg-info/
.venv/
venv/
.env

# Streamlit
.streamlit/secrets.toml

# Local SQLite data
database/*.db
database/*.db-journal

# Local IDE/system files
.vscode/
.idea/
.DS_Store
